@tailwind base;
@tailwind components;
@tailwind utilities;

.modalTab > .active {
    font-weight: bold;
    border-bottom: black 1px solid;
}

#container {
    width: 1000px;
    margin: 20px auto;
}

.ck-editor__editable[role="textbox"] {
    /* Editing area */
    min-height: 400px;
    padding-left: 10px;
}

.ck-content .image {
    /* Block images */
    max-width: 80%;
    margin: 20px auto;
}

.content > ul {
    list-style-position: outside !important;
    list-style-type: disc !important;
}

.reviewText {
    max-height: calc(
        1.2em * 5
    ); /* Adjust line height and number of lines accordingly */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Number of lines to show */
    -webkit-box-orient: vertical;
}

.half-fill {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

/* Define styles for left half */
.half-fill:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: yellow; /* Fill color for left half */
}

/* Define styles for right half */
.half-fill:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: transparent; /* Fill color for right half */
}

.image-container:after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
}

.highlight {
    /* background-color: rgba(255, 0, 0, 0.8); */
    z-index: 10;
    border-radius: 0.25rem;
    animation: fadeInOut 2s ease-in-out forwards;
}

@keyframes fadeInOut {
    0% {
        background-color: rgba(255, 0, 0, 0); /* Transparent */
    }
    50% {
        background-color: rgba(255, 0, 0, 0.8); /* Red */
    }
    100% {
        background-color: rgba(255, 0, 0, 0); /* Transparent */
    }
}
