@tailwind base;
@tailwind components;
@tailwind utilities;

.modalTab > .active {
    font-weight: bold;
    border-bottom: black 1px solid;
}

#container {
    width: 1000px;
    margin: 20px auto;
}

.ck-editor__editable[role="textbox"] {
    /* Editing area */
    min-height: 400px;
    padding-left: 10px;
}

.ck-content .image {
    /* Block images */
    max-width: 80%;
    margin: 20px auto;
}

.content > ul {
    list-style-position: outside !important;
    list-style-type: disc !important;
}
