@tailwind base;
@tailwind components;
@tailwind utilities;

.modalTab > .active {
    font-weight: bold;
    border-bottom: black 1px solid;
}

#container {
    width: 1000px;
    margin: 20px auto;
}

.ck-editor__editable[role="textbox"] {
    /* Editing area */
    min-height: 400px;
    padding-left: 10px;
}

.ck-content .image {
    /* Block images */
    max-width: 80%;
    margin: 20px auto;
}

.content > ul {
    list-style-position: outside !important;
    list-style-type: disc !important;
}

.reviewText {
    max-height: calc(
        1.2em * 5
    ); /* Adjust line height and number of lines accordingly */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Number of lines to show */
    -webkit-box-orient: vertical;
}
